@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* The `@media (prefers-color-scheme: dark)` block in the CSS code you provided is a media query that
targets devices or browsers that have a dark color scheme preference set. */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-6  !important;

}

h1{
  @apply text-3xl font-bold  mb-7;
}

h2{
  @apply text-4xl font-bold mb-7 mt-7;
}

h3{
  @apply text-2xl font-bold mt-6 mb-3;
}

h4{
  @apply text-xl font-bold ;
}

h5{
  @apply text-lg font-bold ;
}

hr{
  @apply my-6 border-t-2 ;
}

a{
  @apply text-blue-900 underline;
}

a:hover{
  @apply text-blue-700;
}

ul:not(.no-list){
  @apply list-disc list-inside text-left ml-4;
}

.menu > li{
  @apply text-lg font-bold;
}

.menu ul {
  @apply my-1 text-sm font-normal;
}